<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-danger">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-light">Prevision</span>
      </div>
    </nav>
    <nav class="navbar-light bg-dark">
      <div class="container">
        <div class="text-center">
          <span class="navbar-brand mb-0 h4 text-light">Desenvolvido por: José Adauto</span>

        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="text-center">
      {% block content %}

      {% endblock content %}
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>
<script>
  function formatDate(input) {
  // Remove caracteres não numéricos
  var inputValue = input.value.replace(/\D/g, '');

  // Formatação da data
  if (inputValue.length > 2) {
    inputValue = inputValue.replace(/^(\d{2})(\d{2})(\d{0,4})$/, '$1/$2/$3');
  } else if (inputValue.length > 4) {
    inputValue = inputValue.replace(/^(\d{2})(\d{2})(\d{4})$/, '$1/$2/$3');
  }

  input.value = inputValue;
}
</script>
</html>
